.card {
    width: 210px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    border-radius: 5px;
    text-align: center;
}
img {
    width: 200px;
    border: 5px rgb(236, 183, 191) solid;
    border-radius: 50%;
}